<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11">
            <h1>Cart</h1>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="tabProduct" class="ion-justify-content-center">
          <ion-col size="11"  *ngFor="let product of tabProduct; let i=index">
            <ion-card>
              <ion-row class="ion-align-items-center">
                <ion-col size="5">
                 <img [src]="product.pictures.split(',')[0]" />
                </ion-col>
                <ion-col size="7">
                  <ion-card-header>
                  <ion-card-title>{{product.name}}</ion-card-title>
                  <ion-card-subtitle>{{tabCart[i].taille}}  {{tabCart[i].color}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{tabCart[i].price}} $
                </ion-card-content>
                <ion-card-content>
                  Quantity: <ion-icon name="remove-circle-outline" role="button" (click)="removeAQuantity(i)"></ion-icon> {{tabCart[i].quantity}} <ion-icon name="add-circle-outline" role="button" (click)="addAQuantity(i)"></ion-icon>
                  <ion-button color="danger" fill="clear" (click)="clearAprod(i)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
                </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="tabProduct.length>0; else noProduct" size="11">
            <ion-button class="grad-color rounded" [routerLink]="['','product','order']">Buy now</ion-button>
          </ion-col>
          <ng-template #noProduct>
            <ion-text>There are no product</ion-text>
          </ng-template>
        </ion-row>
      </ion-grid>
</ion-content>
