<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Signup</h1>
      </ion-col>

      <ion-col size="11">
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-align-items-center">
            <ion-label position="floating">Password</ion-label>
            <ion-input [type]="typePass" formControlName="password"></ion-input>
            <ion-icon *ngIf="bool ;else text" role="button" role="icon-only" slot="end" name="eye" (click)="togglePass()"></ion-icon>
            <ng-template #text>
              <ion-icon role="button" role="icon-only" slot="end" name="eye-off" (click)="togglePass()"></ion-icon>
            </ng-template>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>


              <ion-radio-group value="Homme">
                <ion-row>
                  <ion-col size="11" class="ion-align-items-center ion-margin-vertical
                  ">
                    <ion-col size="4">

                      <ion-label class="padding-radio"><small>Homme</small></ion-label>
                      <ion-radio type="radio" value="Homme"></ion-radio>

                    </ion-col>
                    <ion-col size="4">

                        <ion-label class="padding-radio2"><small>Femme</small></ion-label>
                        <ion-radio type="radio" value="Femme"></ion-radio>

                    </ion-col>
                    <ion-col size="4">

                        <ion-label class="padding-radio2"><small>Autre</small></ion-label>
                        <ion-radio type="radio"value="Autre"></ion-radio>

                    </ion-col>
                  </ion-col>

                </ion-row>
              </ion-radio-group>


          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
        </form>
      </ion-col>
      <ion-col size="11" class="ion-margin-vertical">
        <ion-button type="submit" expand="block" color="none" class="grad-color rounded" [disabled]="!form.valid" (click)="inscrire()">Sign up</ion-button>
      </ion-col>
      <ion-col size="11" class="ion-align-items-center ion-justify-content-start">
        <ion-row class="ion-align-items-center">
          <ion-text>Already an account?</ion-text><ion-button fill="clear" [routerLink]="['','connexion']"> Sign in</ion-button>
        </ion-row>
      </ion-col>
      <ion-col size="11">
        <ion-button size="small" class="ion-text-capitalize" (click)="presentPopover($event)">Help</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
