<ion-header>

</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center h-90">
    <ion-col size="11">
      <ion-img src="../../../../assets/like.png"></ion-img>
      <h1 class="ion-text-center">Confirmation</h1>
      <ion-text class="ion-text-center">You have successfully completed your payment procedure</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="h-5">
    <ion-col>
      <ion-button expand="block" class="grad-color" [routerLink]="['','product']">Back to Home</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
