<ion-content class="ion-padding">
  <ion-list>
    <ion-item><small>Tous les champs sont obligatoires</small></ion-item>
    <ion-item><small>Seul les mails .fr et .com sont acceptés</small></ion-item>
    <ion-item><small>Seul le  téléphone format français est autorisé (ex: 0606060606)</small></ion-item>
    <ion-item class="ion-text-start">
      <small>Le mot de passe doit contenir:
        <ul >
          <li>8 caractères</li>
          <li>1 majuscule</li>
          <li>2 minuscules</li>
          <li>1 chiffre</li>
          <li>1 caractère spécial (#?!@$%^&*-)</li>
        </ul>
      </small>
    </ion-item>
  </ion-list>
</ion-content>
