<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <h1>History</h1>
    </ion-col>
  </ion-row>
  <ion-grid *ngFor="let order of orders" class="ion-margin-vertical">
    <ion-card class="ion-padding">
      <ion-row class="ion-margin-vertical">
        <ion-col size="7"> {{order.numCommande}}</ion-col>
        <ion-col size="5"> {{order.date |date:"dd/M/YYYY à H:mm:s"}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let line of orderLines ">
        <ion-row *ngIf="line.idOrder === order.id">
          <ion-col size="4">{{line.nameProduct}}</ion-col>
          <ion-col size="3">{{line.taille}}</ion-col>
          <ion-col size="3">{{line.color}}</ion-col>
          <ion-col size="2">X {{line.quantity}}</ion-col>
        </ion-row>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
