<ion-app>
  <ion-split-pane contentId="main-content">
  <ion-menu  *ngIf="display" side="start" contentId="main-content">
      <ion-content>
        <ion-grid>
          <ion-row class="h-100 ion-align-items-center">
            <ion-col>
              <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none">
                        <ion-label class="ion-text-center" [routerLink]="['product']">Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none">
                        <ion-label class="ion-text-center" [routerLink]="['profile']">Profile</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                  <ion-item lines="none">
                      <ion-label class="ion-text-center" [routerLink]="['product','cart']">My Cart</ion-label>
                  </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                  <ion-item lines="none">
                    <ion-label class="ion-text-center"[routerLink]="['favorite']">Favorite</ion-label>
                  </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                  <ion-item lines="none">
                      <ion-label class="ion-text-center" [routerLink]="['','product','history-order']">My Orders</ion-label>
                  </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" button>
                        <ion-label class="ion-text-center"(click)="onLogOut()">Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
