<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="products">
  <ion-grid>
    <ion-row *ngIf="category" class="ion-justify-content-center">
      <ion-col size="11">
        <h1>{{category.name}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row  *ngIf="products.length>0 ; else noProduct" class="ion-margin-horizontal">

        <ion-col size="6" *ngFor="let product of products">
          <a (click)="goDetail(product.id)">
            <img [src]="product.pictures.split(',')[0]" class="rounded">
          </a>
          {{product.actualPrice}}$<br>{{product.name}}
        </ion-col>
    </ion-row>
    <ng-template #noProduct>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          Il n'y a pas d'éléments dans cette catégorie
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

</ion-content>
