<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Sign In</h1>
      </ion-col>

      <ion-col size="11">
        <ion-text color="danger"><small>{{alerte}}</small></ion-text>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-align-items-center">
            <ion-label position="floating">Password</ion-label>
            <ion-input [type]="typePass" formControlName="password"></ion-input>
            <ion-icon *ngIf="bool ;else text" role="button" role="icon-only" slot="end" name="eye" (click)="togglePass()"></ion-icon>
            <ng-template #text>
              <ion-icon role="button" role="icon-only" slot="end" name="eye-off" (click)="togglePass()"></ion-icon>
            </ng-template>
          </ion-item>
        </form>
      </ion-col>
      <ion-col size="11" class="ion-margin-vertical">
        <ion-button type="submit" expand="block" color="none" class="grad-color rounded" [disabled]="!form.valid" (click)="connecter()">Sign in</ion-button>
      </ion-col>
      <ion-col size="11" class="ion-align-items-center ion-justify-content-start">
        <ion-row class="ion-align-items-center">
          <ion-text>Already an account?</ion-text><ion-button fill="clear" [routerLink]="['','inscription']"> Sign up</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
