ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
.shadow-grey{
  box-shadow: 5px 5px 12px grey;
}
.img-cat
{
  height: 7rem;
  object-fit: cover;
}
.nom-cat{
  position: absolute;
  top:40%;
  left:30%;
}
.category{
  position:relative;
}
.d-none{
  display: none;
}
