<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['','product','cart']" size="large" role="button" name="cart" class="ion-margin-end"></ion-icon>
      <ion-icon size="large" role="button" name="funnel-outline" class="ion-margin-end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="shadow-grey rounded ion-margin-vertical">
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="">
            <ion-icon role="button" name="search" size="large" color="medium"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-input placeholder="Search Your Product"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="ion-margin-top">
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <h1>Categories</h1>
          </ion-col>
          <ion-col  size="2">
            <ion-button fill="clear" class="ion-text-capitalize"[routerLink]="['categories']">See all</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <swiper [slidesPerView]="2" [loop]="true">
          <ng-template *ngFor="let cat of categories;let i=index" swiperSlide>
            <ion-col size="12">
              <a [routerLink]="['category',cat.id]"><img src="{{ cat.image}}" class="shadow-grey rounded img-cat"><br></a>
              <ion-text class="nom-cat">{{cat.name}}</ion-text>
            </ion-col>
          </ng-template>
        </swiper>
    </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row class="d-none">
      <ion-col size="11" class="ion-margin-horizontale">
      <div class="ion-margin-horizontale">
          <ion-slides [options]="{ slidesPerView: '2',loop:true }">
            <ion-slide *ngFor="let category of categories;let i=index">
              <ion-col>
               <h4 class="nom-cat">{{ category.name }}</h4>
                <img src="{{ category.image }}" class="img-cat"/>
              </ion-col>
            </ion-slide>
        </ion-slides>
      </div>
      </ion-col>
    </ion-row>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="ion-margin-top">
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <h1>Featured</h1>
          </ion-col>
          <ion-col  size="2">
            <ion-button fill="clear" class="ion-text-capitalize" [routerLink]="['featured']">See all</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <swiper [slidesPerView]="2" [loop]="true">
          <ng-template *ngFor="let prodF of prodFeatured;let i=index" swiperSlide>
            <ion-col>
              <a [routerLink]="['detail',prodF.id]"><img src="{{ prodF.pictures.split(',')[0]}}" class="img-other rounded"></a><br>
              <ion-col>{{prodF.name}}</ion-col>
            <ion-text>{{prodF.actualPrice}} $</ion-text>
            </ion-col>
          </ng-template>
        </swiper>
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="ion-margin-top">
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <h1>Best Sell</h1>
          </ion-col>
          <ion-col  size="2">
            <ion-button fill="clear" class="ion-text-capitalize" [routerLink]="['bestsell']">See all</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <swiper [slidesPerView]="2" [loop]="true">
          <ng-template *ngFor="let prodB of prodBestSell;let i=index" swiperSlide>
            <ion-col>
              <a [routerLink]="['detail',prodB.id]"><img src="{{ prodB.pictures.split(',')[0]}}" class="img-other rounded"/><br></a>
              <ion-col>{{prodB.name}}</ion-col>
            <ion-text>{{prodB.actualPrice}} $</ion-text>
            </ion-col>
          </ng-template>
        </swiper>
    </ion-col>
    </ion-row>
  </ion-grid>







</ion-content>
