<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngIf="user" class="ion-justify-content-center">
    <ion-col size="11">
      <h1>Profile</h1>
    </ion-col>
    <ion-col size="11">
      <ion-item>
        <ion-label>
        <h3 class="color-grey">Name</h3>
        <ion-text><p>{{user.name}}</p></ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
        <h3 class="color-grey">Address Lane</h3>
        <ion-text><p>{{user.adresse}}</p></ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
        <h3 class="color-grey">City</h3>
        <ion-text><p>{{user.city}}</p></ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
        <h3 class="color-grey">Gender</h3>
        <ion-text><p>{{user.sexe}}</p></ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
        <h3 class="color-grey">Email</h3>
        <ion-text><p>{{user.email}}</p></ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
        <h3 class="color-grey">Phone Number</h3>
        <ion-text><p>{{user.phone}}</p></ion-text>
        </ion-label>
      </ion-item>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
