@import "~swiper/css";
@import "~swiper/css/pagination";

ion-content
{
  --min-width:100vw
}
swiper
{
  width: 100%;
  height: 100%;
}
.fs-25{
  font-size: 25px;
}
.lastPrice{
  text-decoration-line: line-through;
}
.margin-b-0{
  margin-bottom: 0;
}
.padding-0{
  padding: 0;
}
.bg-blue{
  background-color: #3171e0;
}
.padding-note{
  padding: 10px 20px;
}
.bg-grey{
  background-color: #9d9fa6 ;
}
.padding-tab{
  padding: 10px;
}
