<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="product">
    <swiper [slidesPerView]="1" [loop]="true" [pagination]="true" [centeredSlides]="true">
      <ng-template *ngFor="let pic of product.pictures.split(',')" swiperSlide>
        <img [src]="pic">
      </ng-template>
      </swiper>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11" class="padding-0">
            <h1 class="margin-b-0">{{product.name}} {{checkFav(product.id)}}</h1><br>
          </ion-col>
          <ion-col size="11" class="padding-0">
            <ion-button *ngIf="isFav ;else other" fill ="clear" (click)="removeFavori(product.id)">
              <ion-icon  color="danger" role="button" slot="icon-only" name="heart" class="fs-25"></ion-icon>
            </ion-button>
            <ng-template #other>
              <ion-button  fill="clear" (click)="addFavori(product.id)">
                <ion-icon color="danger" role="button" slot="icon-only" name="heart-outline" class="fs-25"></ion-icon>
              </ion-button>
            </ng-template>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="2" class="padding-0" >
            <ion-text class="fs-25">{{product.actualPrice}}$</ion-text>
          </ion-col>
          <ion-col size="9">
            <ion-text color="medium"class="lastPrice">{{product.lastPrice}}$</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item class="ion-padding-vertical">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-text class="bg-blue padding-note rounded">{{product.note}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text>{{product.note|note}}</ion-text>
            </ion-col>
            <ion-col size="4" class="ion-text-end">
              <ion-text color="primary">{{product.nbVue}} views</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <h1 class="padding-0">Description</h1>
        </ion-col>
        <ion-col size="11">
          <ion-text color="medium">{{product.description}}</ion-text>
        </ion-col>
        </ion-row>
        <form [formGroup]="form">
          <ion-row>
            <ion-col size="6">
              <ion-list>
                <ion-item>
                  <ion-select  formControlName="size" interface="popover" placeholder="SELECT SIZE">
                    <ion-select-option  *ngFor="let size of product.tailles.split(',')"value="{{size}}">{{size}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <ion-list>
                <ion-item>
                  <ion-select formControlName="color" interface="popover" placeholder="SELECT COLOR">
                    <ion-select-option  *ngFor="let color of product.colors.split(',')"value="{{color}}">{{color}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button fill="clear" expand="block" (click)="addToCart(product.id)" [disabled]="!form.valid">Add to Cart</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="buy(product.id)">Buy now</ion-button>
            </ion-col>
          </ion-row>
      </form>
  </div>

</ion-content>
