<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tabFavori; else noFav">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Favorite</h1>
        <ion-text *ngIf="tabProduct.length ===0">You don't add any product on your favorite list. </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row class="ion-margin-horizontal">

        <ion-col size="6" *ngFor="let product of tabProduct">
          <a (click)="goDetail(product.id)">
            <img [src]="product.pictures.split(',')[0]" class="rounded">
          </a>
          {{product.actualPrice}}$<br>{{product.name}}
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #noFav>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Favorite</h1>
        <ion-text *ngIf="tabProduct.length ===0">You don't add any product on your favorite list. </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
