<ion-content>
  <ion-row class="ion-align-items-around h-100 ion-justify-content-center">
    <div class="ion-margin-vertical">
      <h1 class="ion-text-center">Welcome to Bolt</h1>
      <h3 class="ion-text-center">Explore Us</h3>
    </div>
    <div>
      <img src="../assets/welcome.png">
    </div>


    <ion-col size="7" class="ion-margin-vertical">
      <ion-button expand="block" class="grad-color rounded" color="none" [routerLink]="['','connexion']">Log in</ion-button>
      <ion-button expand="block" fill="clear" color="dark" [routerLink]="['','inscription']">Sign up</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
