<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Best Sell</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row  *ngIf="products" class="ion-margin-horizontal">
        <ion-col size="6" *ngFor="let product of products">
          <a (click)="goDetail(product.id)">
            <img [src]="product.pictures.split(',')[0]" class="rounded">
          </a>
          {{product.actualPrice}}$<br>{{product.name}}
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
