<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button [routerLink]="['','product','cart']" fill="clear" slot="end" color="dark"><ion-icon slot="icon-only" name="cart" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Categories</h1>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-justify-content-start ion-margin-vertical">
      <ion-col *ngFor="let cat of categories" size="6">
        <a [routerLink]="['','product','category',cat.id]"><img src="{{ cat.image}}" class="rounded img-cat"><br></a>
        <ion-text class="nom-cat">{{cat.name}}</ion-text>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
